.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

<style>
a:link, a:visited {
  color: AliceBlue;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
}

a:hover, a:active {
  color: AliceBlue;
  text-decoration: none;
}
</style>

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
  
